.container {
    text-align: center;
    margin-top: 25px;
}

table {
    margin: auto;
    margin-top: 20px;
}

#ans {
   font-size: 34px;
   border: 2px solid black;
}

#signed {
   font-size: 23px;
   width: 100px;
   position: relative;
   left: 36.5%;
   margin-bottom: 15px;
   border: 2px solid black;
}

.calculator {
    display: inline-block;
    background-color: brown;
    padding: 30px;
    border-radius: 35px;
}
button {
    font-size: 40px;
    background-color: darkgoldenrod;
    width: 105px;
    height: 55px;
    border-radius: 23px;
}